<html>
    <head>
        <title>
            Registro de usuario
        </title>
    </head>
    <body>
        <center>
            <p>
            Inicio de sesion
            </p>
            <form action="login/" method="GET">

                <label for="nombre">Nombre:</label><br>
                <input type="text" name="nombre"><br>
            
                <label for="apellido">Apellido:</label><br>
                <input type="text" name="apellido"><br>
            
                <label for="email">Direccion de correo electronico:</label><br>
                <input type="text" name="email"><br>
                
                <label for="password">Contraseña:</label><br>
                <input type="text" name="password"><br>

                <label for="passwordc">Confirme su contraseña:</label><br>
                <input type="text" name="passwordc"><br>

                <input type="submit" value="Registrar!">
            </form>
        </center>
</html>