<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <center>
            <p>
            Inicio de sesion
            </p>
            <form action="login/" method="GET">
                  <label for="email">Direccion de correo electronico:</label><br>
                  <input type="text" name="email"><br>
                  <label for="password">Contraseña:</label><br>
                  <input type="text" name="password"><br>
                  <input type="submit" value="Entrar"><br>
                  <a href="registry/"> <button> Registrar </button>  </a>
              </form>
          </center>
</html>